<h1><%= t('admin.events.index.title') %></h1>

<table class='list'>
  <thead>
    <th><%= t('admin.events.fields.name') %></th>
    <th><%= t('admin.events.fields.start_date') %></th>
    <th><%= t('admin.events.fields.end_date') %></th>
    <th></th>
  </thead>
  <tbody>
    <% @event.each do |event| %>
      <tr>
        <td><%= link_to event.name, admin_event_path(event) %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><i class='icon-trash'></i><%= link_to t('admin.actions.delete'), admin_event_path(event), confirm: t('admin.actions.confirm'), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= link_to t('admin.events.new.title'), new_admin_event_path, class: 'button' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>
