<% unless resource.errors.full_messages.empty? %>
  <div id="flash-error">
    <% resource.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<h1><%= t('admin.users.edit.title') %></h1>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do |f| %>
  <fieldset>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password, :required => true %>
  </fieldset>

  <fieldset class='actions'>
    <%= f.button t('admin.actions.edit') %>
    <%= link_to t('admin.actions.back'), citygate.profile_path %>
  </fieldset>
<% end %>
