<div id="flash-error">
  <% resource.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
</div>

<h1><%= t('registrations.sign_up.title') %></h1>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>

    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </fieldset>

  <fieldset class='actions'>
    <%= f.button t('admin.users.new.create_link') %>
    <%= link_to t('admin.actions.back'), root_path %>
  </fieldset>
<% end %>