<% @message.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form.label :text %>
<%= form.text_area :text %>
<%= text_field_tag 'no_of_messages' %>

<%= form.label :deliver_date %>
<%= form.date_select :deliver_date %>

<%= form.label :group_id %>
<%= form.select :group_id, options_from_collection_for_select(Group.all, 'id', 'name')  %>
