<h1><%= t('admin.messages.edit.title') %></h1>

<%= form_for @message, url: admin_message_path(@message), method: :put do |form| %>
  <%= render partial: 'form', locals: { form: form } %>

  <fieldset class='actions'>
    <%= form.button t('admin.actions.edit') %>
    <%= link_to t('admin.actions.back'), :back %>
  </fieldset>
<% end %>
