<h1><%= t('admin.messages.index.title') %></h1>

<div class="actions">
  <%= link_to t('admin.messages.new.title'), new_admin_message_path, class: 'button' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>

<table class='list'>
  <thead>
    <tr>
      <th><%= t('admin.messages.fields.name') %></th>
      <th><%= t('admin.messages.fields.deliver_date') %></th>
      <th><%= t('admin.messages.fields.group') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to truncate(message.text, length: 25), admin_message_path(message) %></td>
        <td><%= (message.deliver_date) ? message.deliver_date.strftime("%d %B %Y") : t('admin.messages.fields.no_date') %></td>
        <td><%= message.group.name unless message.group.nil? %></td>
        <td><i class='icon-pencil'></i><%= link_to t('admin.actions.edit'), edit_admin_message_path(message) %><i class='icon-trash'></i><%= link_to t('admin.actions.delete'), admin_message_path(message), confirm: t('admin.actions.confirm'), :method => :delete, class: 'danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @messages %>
