<h1><%= t('admin.messages.index.title') %></h1>

<table class='list'>
  <thead>
    <th><%= t('admin.messages.fields.name') %></th>
    <th></th>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to truncate(message.text, length: 25), admin_message_path(message) %></td>
        <td><i class='icon-pencil'></i><%= link_to t('admin.actions.edit'), edit_admin_message_path(message) %><i class='icon-trash'></i><%= link_to t('admin.actions.delete'), admin_message_path(message), confirm: t('admin.actions.confirm'), :method => :delete, class: 'danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= link_to t('admin.messages.new.title'), new_admin_message_path, class: 'button' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>
