<h1><%= t('admin.messages.new.title') %></h1>

<%= form_for @message, url: admin_messages_path do |form| %>
  <%= render partial: 'form', locals: { form: form } %>

  <fieldset class='actions'>
    <%= form.button t('admin.actions.create') %>
    <%= link_to t('admin.actions.back'), admin_messages_path %>
  </fieldset>
<% end %>
