<h1><%= t('admin.messages.show.title') %></h1>

<ul id='message'>
  <li><span><%= t('admin.messages.fields.name') %></span><span><%= @message.name %></span></li>
</ul>

<%= link_to t('admin.actions.edit'), edit_admin_message_path(@message) %>
<%= link_to t('admin.actions.back'), admin_messages_path %>
