<h1><%= t('admin.messages.show.title') %></h1>

<ul class='details'>
  <li><span class='label'><%= t('admin.messages.fields.name') %></span><span><%= @message.name %></span></li>
</ul>

<div class='actions'>
  <%= link_to t('admin.actions.edit'), edit_admin_message_path(@message), class: 'button' %>
  <%= link_to t('admin.actions.back'), admin_messages_path %>
</div>
