<h1><%= t('users.show.title') %></h1>

<ul class='details'>
  <li><span class='label'><%= t('users.fields.email') %></span><span><%= current_user.email %></span></li>
  <li><span class='label'><%= t('users.fields.first_name') %></span><span><%= current_user.first_name %></span></li>
  <li><span class='label'><%= t('users.fields.last_name') %></span><span><%= current_user.last_name %></span></li>
</ul>

<div class='actions'>
  <%= link_to t('admin.actions.edit'), citygate.edit_user_registration_path, class: 'button' %>
  <%= link_to t('admin.users.edit.cancel_account.link'), registration_path(current_user),
              :data => { :confirm => t('admin.users.edit.cancel_account.confirm') }, 
              :method => :delete, class: 'danger' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>
