<h1><%= t('admin.index.title') %></h1>

<% if !user_signed_in? %>
  <%= citygate_nav_links %>
<% else %>
  <%= link_to t('admin.actions.list_contacts'), admin_contacts_path, class: 'stamp-icon contacts' %>
  <%= link_to t('admin.actions.list_events'), admin_events_path, class: 'stamp-icon events' %>
  <%= link_to t('admin.actions.list_groups'), admin_groups_path, class: 'stamp-icon groups' %>
  <%= link_to t('admin.actions.list_messages'), admin_messages_path, class: 'stamp-icon messages' %>
<% end %>
