<h1><%= t('admin.contacts.index.title') %></h1>

<table class='list'>
  <thead>
    <th><%= t('admin.contacts.fields.phone_number') %></th>
    <th><%= t('admin.contacts.fields.name') %></th>
    <th><%= t('admin.contacts.fields.email') %></th>
    <th></th>
  </thead>
  <tbody>
    <% @contact.each do |contact| %>
      <tr>
        <td><%= link_to contact.phone_number, admin_contact_path(contact) %></td>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><i class='icon-trash'></i><%= link_to t('admin.actions.delete'), admin_contact_path(contact), confirm: t('admin.actions.confirm'), :method => :delete, class: 'danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= link_to t('admin.contacts.new.title'), new_admin_contact_path, class: 'button' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>
