<h1><%= t('admin.contacts.index.title') %></h1>

<div class="actions">
  <%= link_to t('admin.contacts.new.title'), new_admin_contact_path, class: 'button' %>
  <%= link_to t('admin.actions.mass_add_contacts'), mass_add_admin_contacts_path, class: 'button' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>

<table class='list'>
  <thead>
    <tr>
      <th><%= t('admin.contacts.fields.phone_number') %></th>
      <th><%= t('admin.contacts.fields.name') %></th>
      <th><%= t('admin.contacts.fields.email') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.phone_number, admin_contact_path(contact) %></td>
        <td><%= contact.name %></td>
        <td><%= truncate(contact.email, length: 25) %></td>
        <td><i class='icon-pencil'></i><%= link_to t('admin.actions.edit'), edit_admin_contact_path(contact) %><i class='icon-trash'></i><%= link_to t('admin.actions.delete'), admin_contact_path(contact), confirm: t('admin.actions.confirm'), :method => :delete, class: 'danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @contacts %>
