<h1><%= t('admin.contacts.show.title') %></h1>

<ul class='details'>
  <li><span class='label'><%= t('admin.contacts.fields.phone_number') %></span><span><%= @contact.phone_number %></span></li>
  <li><span class='label'><%= t('admin.contacts.fields.name') %></span><span><%= @contact.name %></span></li>
  <li><span class='label'><%= t('admin.contacts.fields.email') %></span><span><%= @contact.email %></span></li>
</ul>

<div class='actions'>
  <%= link_to t('admin.actions.edit'), edit_admin_contact_path(@contact), class: 'button' %>
  <%= link_to t('admin.actions.back'), admin_contacts_path %>
</div>
