<h1 class="page-header"><%= t("admin.people.show.title") %></h1>

<section id="info">
  <div class="attribute">
    <span><%= t("admin.people.show.phone_no") %></span>
    <span><%= @person.phone_no %></span>
  </div>
</section>

<%= link_to t('admin.people.show.edit_link'), edit_admin_person_path(@person) %>
<%= link_to t('admin.people.show.index_link'), admin_people_path %>
