<% @group.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<fieldset>
  <%= form.label :name %>
  <%= form.text_field :name, required: 'required' %>

  <%= label_tag :contacts %>
  <%= text_field_tag :contacts %>
  <i id="hint" class="icon-question-sign" title="<%= t('admin.groups.hints.contacts') %>"></i>

</fieldset>
