<h1><%= t('admin.groups.edit.title') %></h1>

<%= form_for @group, url: admin_group_path(@group), method: :put do |form| %>
  <%= render partial: 'form', locals: { form: form } %>

  <fieldset class='actions'>
    <%= form.button t('admin.actions.edit') %>
    <%= link_to t('admin.actions.back'), :back %>
  </fieldset>
<% end %>
