<h1><%= t('admin.groups.index.title') %></h1>

<table class='list'>
  <thead>
    <th><%= t('admin.groups.fields.name') %></th>
    <th></th>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, admin_group_path(group) %></td>
        <td><i class='icon-pencil'></i><%= link_to t('admin.actions.edit'), edit_admin_group_path(group) %><i class='icon-trash'></i><%= link_to t('admin.actions.delete'), admin_group_path(group), confirm: t('admin.actions.confirm'), :method => :delete, class: 'danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= link_to t('admin.groups.new.title'), new_admin_group_path, class: 'button' %>
  <%= link_to t('admin.actions.back'), root_path %>
</div>
