<h1><%= t('admin.groups.new.title') %></h1>

<%= form_for @group, url: admin_groups_path do |form| %>
  <%= render partial: 'form', locals: { form: form } %>

  <fieldset class='actions'>
    <%= form.button t('admin.actions.create') %>
    <%= link_to t('admin.actions.back'), admin_groups_path %>
  </fieldset>
<% end %>
