<h1><%= t('admin.groups.show.title') %></h1>

<ul class='details'>
  <li><span class='label'><%= t('admin.groups.fields.name') %></span><span><%= @group.name %></span></li>

  <% unless @group.contacts.empty? %>
    <li>
      <span class='label'><%= t('admin.groups.fields.contacts') %></span>
      <ul>
        <% @group.contacts.each do |contact| %>
          <li><span><%= contact.phone_number %></span></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<div class="actions">
  <%= link_to t('admin.actions.edit'), edit_admin_group_path(@group), class: 'button' %>
  <%= link_to t('admin.actions.back'), admin_groups_path %>
</div>
