<!DOCTYPE html>
<html>
<head>
  <title>PaddyPigeon</title>
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", async: true %>
  <script src="http://cdn.jquerytools.org/1.2.7/tiny/jquery.tools.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <header>
      <div class="wrapper">
        <a href="/" id="logo-small">PaddyPigeon</a>
        <%# role_changer %>
        <%= citygate_nav_links %>
      </div>
    </header>
  <% end %>

  <div class="wrapper">
    <div id="main-content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash-#{name}" if msg.is_a?(String) %>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <p>Copyright © 2012 <a href="http://www.groupbuddies.com">Group Buddies</a>. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
