<!DOCTYPE html>
<html>
<head>
  <title>PaddyPigeon</title>
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", async: true %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <% if user_signed_in? %>
    <header>
      <div class="wrapper">
        <a href="/" id="logo-small">PaddyPigeon</a>
        <%= role_changer %>
        <%= citygate_nav_links %>
      </div>
    </header>
  <% end %>

  <div class="wrapper">
    <% unless user_signed_in? %>
      <a href="/" id="logo-large">PaddyPigeon</a>
    <% end %>

    <div id="breadcrumbs">
      <%= render_breadcrumbs :separator => ' > ' %>
    </div>

    <div id="main-content" class="<%= 'logo' if !user_signed_in? %>">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash-#{name}" if msg.is_a?(String) %>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <p>Copyright © 2012 <a href="http://www.groupbuddies.com">Group Buddies</a>. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
